# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

# macOS
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig

# 依赖
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
